S3_BUCKET=example-bucket
S3_ENDPOINT=https://s3.example.com
S3_REGION=ap-northeast-1
S3_TEST_FILE=subdir/test.txt
S3_EXPECTED_CONTENT='replace with the expected file content'
S3FS_ARGS="-o use_path_request_style"
# uid/gid/umask/mp_umask/dir_mode/file_mode are set by default for restricted non-root pods.
AWS_ACCESS_KEY_ID=replace-me
AWS_SECRET_ACCESS_KEY=replace-me
# AWS_SESSION_TOKEN=optional
